{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

<section class="container col-8">
    <form action="{% url 'minha_consulta' %}" method="post">
        {% csrf_token %}
        {% for fields in form.visible_fields %}
        <div class="form-group">
            <label for="{{fields.id_for_label}}">{{fields.label}}</label>
            {{fields|add_class:'form-control'}}
        </div>
        {% for erros in fields.errors %}
        <section class="alert alert-danger" role="alert">
            {{ fields.errors }}
        </section>
        {% endfor %}
        {% endfor %}
        <input type="submit" value="Ok" class="btn btn-success">
    </form>
</section>

{% endblock %}